/* PC */
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}
/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .header-container {
    position: relative;
  }
  .header .header-nav {
    display: none;
  }
  .header .header-logo {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .header-menu {
    position: absolute;
    left: 0;
  }
  .header-menu svg {
    height: 24px;
  }
  .menu-drawer {
    display: none;
  }
  /* Hero */
  .hero-container {
    flex-direction: column;
    padding: 50px 0;
  }
  .hero-media {
    justify-content: center;
  }
  .hero-media-wrap-small {
    margin: 0;
  }
  .hero-decor-wrap {
    display: none;
  }
  .hero-content {
    max-width: 100%;
    padding-top: 30px;
    text-align: center;
  }
  .hero-desc {
    max-width: 100%;
    margin-top: 10px;
  }
  .hero-cta {
    justify-content: center;
    margin-top: 20px;
  }
  /* About */
  .about {
    margin-top: 10px;
  }
  .about-container {
    grid-template-columns: 1fr;
    gap: 90px 0;
  }
  .about-media-top {
    display: none;
  }
  .about-content-top {
    padding: 0;
    text-align: center;
  }
  .about-heading,
  .about-desc {
    max-width: 100%;
  }
  .about-media-bottom {
    margin: 0 auto;
  }
  .about-content-bottom {
    padding: 0;
    text-align: center;
  }
  .about-content-bottom .about-desc {
    max-width: 100%;
  }
  .about-tab-list {
    justify-content: center;
  }
  .about-tab-content {
    max-width: 100%;
  }
  /* Services */
  .service-content {
    grid-template-areas:
      "a c"
      "f e"
      "d g"
      "b b";
    justify-content: center;
  }
  .service-wrap {
    padding-top: 0;
    margin: 0 auto;
    height: 0;
  }
  .service-block {
    display: none;
  }
  /* Team */
  .team {
    margin-top: 10px;
  }
  .team-container {
    padding: 40px 0;
  }
  /* Review */
  .review-media-wrap {
    display: none;
  }
  /* Footer */
  .footer {
    margin-top: 20px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Team */
  .product-container {
    max-width: calc(100% - 150px);
  }
  .team-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }
  /* Product */
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
  }
  /* Blog */
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }
  /* Footer */
  .footer-container {
    gap: 0 82px;
  }
  .footer-right {
    gap: 58px 10px;
  }
}
/* Mobile */
@media screen and (max-width: 767.98px) {
  .btn {
    min-width: 100%;
  }
  /* Header */
  .sign-up-btn {
    display: none;
  }
  /* Hero */
  .hero-media {
    display: none;
  }
  .hero-heading {
    font-size: 5rem;
  }
  .hero-cta {
    flex-direction: column;
    gap: 20px 0;
  }
  /* About */
  .about-container {
    gap: 70px 0;
  }
  .about-media-bottom {
    display: none;
  }
  .about-tab {
    margin-top: 20px;
  }
  .about-list {
    grid-template-columns: 1fr;
  }
  .about-heading {
    font-size: 4rem;
  }
  .about-tab-list {
    flex-direction: column;
    gap: 50px 0;
  }
  .about-tab-item.active::before {
    width: 0;
  }
  .about-tab-list::after {
    width: 0;
  }
  /* Services */
  .services {
    margin-top: 10px;
  }
  .service-content {
    margin-top: 30px;
    max-width: 80%;
    grid-template-areas:
      "a"
      "c"
      "f"
      "e"
      "d"
      "g"
      "b";
    justify-content: center;
    align-items: center;
  }
  .service-heading {
    font-size: 4rem;
  }
  .service-item,
  .service-btn {
    position: relative;
    left: 57.5%;
    transform: translateX(-50%);
  }
  .service-btn {
    min-width: 80%;
  }
  /* Team */
  .team-list {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
  /* Product */
  .product-container {
    max-width: calc(100% - 74px);
    padding: 40px 0;
  }
  .product-list {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
  .product-inner img {
    display: none;
  }
  .product-heading {
    font-size: 4rem;
  }
  /* Review */
  .review-content {
    margin: 0;
  }
  .review-item-content {
    padding-top: 0;
  }
  .review-left-arrow,
  .review-right-arrow {
    display: none;
  }
  .review-heading {
    font-size: 4rem;
  }
  .review-dots {
    margin-top: 40px;
  }
  /* Blog */
  .blog-top {
    flex-direction: column;
    gap: 20px 0;
    text-align: center;
  }
  .blog-heading {
    font-size: 4rem;
  }
  .blog-list {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .blog-item {
    width: 100%;
  }
  .blog-item-icon {
    width: 99.8%;
  }
  /* Footer */
  .footer {
    background: transparent;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px 0;
    padding: 0;
  }
  .footer-left {
    padding-top: 0;
  }
  .footer-right {
    margin-bottom: 20px;
    gap: 58px 20px;
  }
}
