/* PC */
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}
/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .header-container {
    position: relative;
  }
  .header .header-nav {
    display: none;
  }
  .header .header-logo {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .header-menu {
    position: absolute;
    left: 0;
  }
  .header-menu svg {
    height: 24px;
  }
  .overlay {
    position: fixed;
    inset: 0;
    background-color: #666;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* Mobile */
@media screen and (max-width: 767.98px) {
}
