:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Sora", sans-serif;
  --primary-bgc: #fffaf5;
  --deep-color: #000958;
  --primary-color: #ff5b2e;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  background-color: var(--primary-bgc);
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 56px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 999px;
  text-align: center;
  font-weight: 500;
  min-width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-1 {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 91, 46, 0.6);
  transition: all 0.2s linear;
}
.btn-1:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid transparent;
}
.btn-2 {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.btn-2:hover {
  opacity: 0.8;
}
.heading {
  color: var(--deep-color);
  font-family: var(--secondary-font);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}
.desc {
  color: #656689;
  font-weight: 400;
  line-height: 187.5%;
}
/* Header */
.header {
  padding-top: 13px;
  position: sticky;
  top: -13px;
  background-color: var(--primary-bgc);
  z-index: 2;
}
.header-container {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-link {
  padding: 0 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
}
.header-menu-link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-menu-link:hover,
.header-menu-link.active {
  color: var(--deep-color);
  font-weight: 600;
}
.sign-up-btn {
  --height: 50px;
  min-width: 117px;
  color: var(--deep-color);
  font-size: 1.4rem;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.2s linear;
}
.sign-up-btn:hover {
  color: var(--primary-bgc);
  background-color: var(--deep-color);
}
/* Hero */
.hero {
  position: relative;
  z-index: 0;
}
.hero-container {
  padding: 87px 0 71px;
  display: flex;
  justify-content: space-between;
}
.hero-media {
  display: flex;
}
.hero-media-wrap {
  position: relative;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.hero-art {
  z-index: -1;
  position: absolute;
}
.hero-art-left {
  bottom: 10px;
  left: -58px;
}
.hero-art-right {
  top: 17px;
  right: -42px;
}
.hero-media-wrap-small {
  width: 186px;
  height: 244px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  background: linear-gradient(220deg, #faa7ad 0%, #e87f8a 100%);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
  align-self: flex-end;
  margin-bottom: -58px;
  margin-left: -23px;
}
.hero-decor-wrap {
  padding: 18px 14px;
  width: 250px;
  border-radius: 10px;
  background: #fff;
  align-self: flex-end;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  margin-bottom: -75px;
  margin-left: -421px;
  z-index: 1;
}
.hero-decor {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.hero-decor:first-child {
  padding-bottom: 20px;
}
.hero-decor:last-child {
  padding-top: 20px;
}
.hero-decor-separate {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
}
.hero-decor figure {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-decor:first-child figure {
  background: #fec23f;
}
.hero-decor:last-child figure {
  background: #c6e2fa;
}
.hero-decor-img {
  max-width: 100%;
  max-height: 100%;
}
.hero-decor-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-decor-content div:first-child {
  color: #181e52;
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-decor-desc {
  border-radius: 10px;
  opacity: 0.08;
  background: var(--deep-color);
  margin-top: 7px;
  width: 118px;
  height: 4px;
}
.hero-decor-desc:last-child {
  width: 39px;
  height: 4px;
  margin-top: 6px;
}
.hero-content {
  max-width: 517px;
  padding-top: 71px;
}
.hero-heading {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 115.152%;
}
.hero-desc {
  margin-top: 24px;
  max-width: 391px;
}
.hero-cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.hero-btn {
  max-width: 189px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.hero-btn figure {
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-call {
  text-decoration: underline;
  color: var(--deep-color);
  font-weight: 500;
}
/* About */
.about {
  margin-top: 77px;
}
.about-container {
  padding: 53px 0 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 146px 0;
  align-items: flex-end;
}
.about-content-top {
  padding: 97px 0;
}
.about-sub-heading {
  color: #5e6085;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-heading {
  max-width: 543px;
}
.about-desc {
  margin-top: 24px;
  max-width: 431px;
}
.about-list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 34px 36px;
}
.about-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.about-item-icon {
  width: 24px;
  height: 24px;
  background-color: #ff5d31;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-item-title {
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
}
.about-media-top {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-left: 200px;
}
.about-top-art img {
  position: absolute;
  left: 486px;
  top: -100px;
  z-index: -1;
}
.about-top-wrap {
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}
.about-media-stat {
  position: absolute;
  flex-shrink: 0;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  padding: 31px 26px 29px;
  top: -84px;
  left: 109px;
  text-align: center;
}
.about-media-stat img {
  position: absolute;
  bottom: 110px;
  left: 85px;
}
.about-stat-heading {
  color: #fff;
  font-size: 4.2rem;
}
.about-stat-desc {
  margin-top: 14px;
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
.about-img {
  width: 450px;
  height: 602px;
}
.about-media-bottom {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  position: relative;
}
.about-bottom-art {
  position: absolute;
}
.about-bottom-art-1 {
  top: 12.5px;
  left: 389px;
}
.about-bottom-art-2 {
  top: -16px;
  left: 427px;
}
.about-bottom-art-3 {
  left: 426px;
  top: 33px;
}
.about-bottom-art-4 {
  top: 268px;
  left: 468px;
}
.about-bottom-art-5 {
  right: 19px;
  bottom: 150px;
}
.about-bottom-art-6 {
  right: -42px;
  bottom: -55px;
}
.about-content-bottom {
  padding-left: 127px;
}
.about-content-bottom .about-desc {
  max-width: 511px;
}
.about-tab {
  margin-top: 52px;
}
.about-tab-list {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 0 56px;
  position: relative;
}
.about-tab-list::after {
  content: "";
  bottom: 0;
  width: 557px;
  height: 2px;
  opacity: 0.07;
  position: absolute;
  background: #ff5b2e;
}
.about-tab-item {
  display: flex;
  align-items: center;
  gap: 0 11px;
  cursor: pointer;
  position: relative;
}
.about-tab-item.active::before {
  position: absolute;
  content: "";
  width: 95px;
  height: 2px;
  background-color: var(--primary-color);
  bottom: -14px;
  left: 0;
}
.about-tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -14px;
  width: 150px;
  height: 14px;
  background-color: transparent;
}
.about-tab-title {
  white-space: nowrap;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 600;
}
.about-tab-content {
  margin-top: 36px;
  max-width: 391px;
  line-height: 171.429%;
}
.about-link {
  margin-top: 32px;
  text-decoration: underline;
  color: #ff5d31;
  font-weight: 500;
  display: inline-block;
}
/* Service */
.services {
  margin-top: 130px;
  background: #fff6ed;
}
.service-container {
  padding: 68px 0 100px;
}
.service-sub-heading {
  color: #5e6085;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  text-align: center;
}
.service-heading {
  text-align: center;
  margin-top: 15px;
}
.service-content {
  margin-top: 71px;
  display: grid;
  gap: 24px 86px;
  grid-template-areas:
    "a b c"
    "d b f"
    "e b g";
}
.service-item {
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  padding: 30px 22px 30px 28px;
  cursor: pointer;
}
.service-item:first-child {
  grid-area: a;
}
.service-item:nth-child(2) {
  grid-area: d;
}
.service-item:nth-child(3) {
  grid-area: e;
}
.service-item:nth-child(4) {
  grid-area: c;
}
.service-item:nth-child(5) {
  grid-area: f;
}
.service-item:nth-child(6) {
  grid-area: g;
}
.service-item-heading {
  font-size: 2.2rem;
  font-weight: 600;
  padding-left: 14px;
  position: relative;
}
.service-item-heading::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 22px;
  background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
}
.service-item-desc {
  font-size: 1.4rem;
  line-height: 171.429%;
  margin-top: 18px;
}
.service-link {
  display: flex;
  align-items: center;
  gap: 0 6px;
  margin-top: 24px;
}
.service-link span {
  color: #34396a;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 400;
}
.service-block {
  grid-area: b;
  padding-top: 260px;
}
.service-img {
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
  position: relative;
}
.service-img img {
  width: 447px;
  height: 621px;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.service-btn {
  -height: 56px;
  margin-top: 45px;
  min-width: 214px;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
