:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Sora", sans-serif;
  --primary-bgc: #fffaf5;
  --deep-color: #000958;
  --primary-color: #ff5b2e;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 56px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 999px;
  text-align: center;
  font-weight: 500;
  min-width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-1 {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 91, 46, 0.6);
  transition: all 0.2s linear;
}
.btn-1:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid transparent;
}
.btn-2 {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.btn-2:hover {
  opacity: 0.8;
}
.heading {
  color: var(--deep-color);
  font-family: var(--secondary-font);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}
.desc {
  color: #656689;
  font-weight: 400;
  line-height: 187.5%;
}
/* Header */
.header {
  background-color: var(--primary-bgc);
  padding-top: 13px;
  position: sticky;
  top: -13px;
  z-index: 2;
}
.header-container {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-link {
  padding: 0 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
}
.header-menu-link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-menu-link:hover,
.header-menu-link.active {
  color: var(--deep-color);
  font-weight: 600;
}
.sign-up-btn {
  --height: 50px;
  min-width: 117px;
  color: var(--deep-color);
  font-size: 1.4rem;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.2s linear;
}
.sign-up-btn:hover {
  color: var(--primary-bgc);
  background-color: var(--deep-color);
}
/* Hero */
.hero {
  background-color: var(--primary-bgc);
  position: relative;
  z-index: -2;
}
.hero-container {
  padding: 87px 0 71px;
  display: flex;
  justify-content: space-between;
}
.hero-media {
  display: flex;
}
.hero-media-wrap {
  position: relative;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.hero-art {
  z-index: -1;
  position: absolute;
}
.hero-art-left {
  bottom: 10px;
  left: -58px;
}
.hero-art-right {
  top: 17px;
  right: -42px;
}
.hero-media-wrap-small {
  width: 186px;
  height: 244px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  background: linear-gradient(220deg, #faa7ad 0%, #e87f8a 100%);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
  align-self: flex-end;
  margin-bottom: -58px;
  margin-left: -23px;
}
.hero-decor-wrap {
  padding: 18px 14px;
  width: 250px;
  border-radius: 10px;
  background: #fff;
  align-self: flex-end;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  margin-bottom: -75px;
  margin-left: -421px;
  z-index: 1;
}
.hero-decor {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.hero-decor:first-child {
  padding-bottom: 20px;
}
.hero-decor:last-child {
  padding-top: 20px;
}
.hero-decor-separate {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
}
.hero-decor figure {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-decor:first-child figure {
  background: #fec23f;
}
.hero-decor:last-child figure {
  background: #c6e2fa;
}
.hero-decor-img {
  max-width: 100%;
  max-height: 100%;
}
.hero-decor-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-decor-content div:first-child {
  color: #181e52;
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-decor-desc {
  border-radius: 10px;
  opacity: 0.08;
  background: var(--deep-color);
  margin-top: 7px;
  width: 118px;
  height: 4px;
}
.hero-decor-desc:last-child {
  width: 39px;
  height: 4px;
  margin-top: 6px;
}
.hero-content {
  max-width: 517px;
  padding-top: 71px;
}
.hero-heading {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 115.152%;
}
.hero-desc {
  margin-top: 24px;
  max-width: 391px;
}
.hero-cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.hero-btn {
  max-width: 189px;
}
.hero-btn span {
  margin-left: 16px;
}
.hero-btn svg {
  margin-bottom: -4px;
}
.hero-call {
  text-decoration: underline;
  color: var(--deep-color);
  font-weight: 500;
}
